<div class="yb_videolist inner" id="playlistWindow">
	<div class="loadingBar">	
		<img src="{f:uri.resource(path: 'Icons/Loading_bar.gif')}">
	</div>
        <f:for each="{videolist.videos}" as="video" iteration="it">
		<f:if condition="{it.index}>={min}">
		<f:if condition="{it.index}<={max}">
		<div class="videoListItem" style="visibility: hidden">
                	<f:link.action pageUid="{settings.globalVideoPlayerPage}"  action="showLocalPlayer" controller="Video" arguments="{video: video}" additionalParams="{tx_ybvideoplayer_videolistcontainer : {page: currentpage}}" >
				<img class="deferred" src="{defaultpreview}" data-src="{video.preview.originalResource.publicUrl}" width="180" alt="{video.preview.originalResource.title}" />
				<h3>{video.title}</h3>
				<p><f:format.crop maxCharacters="160" append="&nbsp;..."><f:format.html>{video.description}</f:format.html></f:format.crop></p>
			</f:link.action>
		</div>
		</f:if>
		</f:if>
         </f:for>
         <div class="videoListItem" style="visibility: hidden">
               <f:link.action pageUid="{settings.globalVideoPlayerPage}"  action="showLocalPlayer" controller="Video" additionalParams="{tx_ybvideoplayer_videolistcontainer : {page: nextpage}}">
                       <img class="deferred" src="{defaultpreview}" width="180" alt="No Default Set" />
                       <h3>Mehr</h3>
               </f:link.action>
        </div>

	<div class="clear"></div>
</div>
