<div class="yb_videolist inner">
        <f:for each="{videolist.videos}" as="video" iteration="itemIteration">
		<div class="videoListItem">
                	<f:link.action pageUid="{settings.globalVideoPlayerPage}"  action="showGlobalPlayer" controller="Video" arguments="{video: video}">
				<img src="{video.preview.originalResource.publicUrl}" width="180" alt="{video.preview.originalResource.title}" />
				<h3>{video.preview.originalResource.title}</h3>
				<p><f:format.crop maxCharacters="160" append="&nbsp;..."><f:format.html>{video.description}</f:format.html></f:format.crop></p>
			</f:link.action>
		</div>
       </f:for>
	<div class="clear"></div>
</div>
