{namespace e=TYPO3\YbVideoplayer\ViewHelpers}

<div 	data-qualities="{video.resolutionsString}" 
	data-default-quality="" 
	quality-seperator="{resolutionSeperator}" 
	class="flowplayer fixed-controls play-button" 
	data-embed="false" 
	data-key="{flowplayerLicenseKey}" 
	data-ratio="{video.aspectratio}" 
	
 	<f:if condition="{video.files.0.originalResource.storage.driverType}=='Stream'">
		data-engine='flash' 
		data-rtmp='{e:replace(search: video.files.0.originalResource.identifier, subject: video.files.0.originalResource.publicUrl)}'  
	</f:if>
	style="background-image:url({video.preview.originalResource.publicUrl});">

	<f:render partial="Video/VideoContainer" arguments="{video: video}"/>
	<f:for each="{playlists}" as="playlist" iteration="itemIteration">
		<f:render partial="Playlist/PlaylistContainer" arguments="{playlist: playlist}"/>
	</f:for>
</div>

<f:if condition="{showInformation}==1">
	<f:then>
		<f:render partial="Video/VideoDetailsContainer" arguments="{video: video}"/>
	</f:then>
</f:if>
