<div data-qualities="288p,480p,576p" data-default-quality="480p" class="flowplayer fixed-controls" style="background-image: url({video.preview.originalResource.publicUrl});" data-embed="false" data-key="{flowplayerLicenseKey}">
	<f:render partial="Video/VideoContainer" arguments="{video: video}"/>
	<f:for each="{playlists}" as="playlist" iteration="itemIteration">
		<f:render partial="Playlist/PlaylistContainer" arguments="{playlist: playlist}"/>
	</f:for>
</div>
<f:render partial="Video/VideoDetailsContainer" arguments="{video: video}"/>
