<div data-qualities="{video.resolutionsString}" data-default-quality="" quality-seperator="{resolutionSeperator}" class="flowplayer fixed-controls is-splash" data-embed="false" data-key="{flowplayerLicenseKey}">
	<img src="{video.preview.originalResource.publicUrl}">
	<f:render partial="Video/VideoContainer" arguments="{video: video}"/>
	<f:for each="{playlists}" as="playlist" iteration="itemIteration">
		<f:render partial="Playlist/PlaylistContainer" arguments="{playlist: playlist}"/>
	</f:for>
</div>
<f:render partial="Video/VideoDetailsContainer" arguments="{video: video}"/>
