<table class="tx-yb-videoplayer" >
	<tr>
		<td>
			<f:translate key="tx_ybvideoplayer_domain_model_video.file" />
		</td>
		<td>
			{video.file}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ybvideoplayer_domain_model_video.description" />
		</td>
		<td>
			{video.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ybvideoplayer_domain_model_video.preview" />
		</td>
		<td>
			{video.preview}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ybvideoplayer_domain_model_video.preview2" />
		</td>
		<td>
			{video.preview2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ybvideoplayer_domain_model_video.videoid" />
		</td>
		<td>
			{video.videoid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ybvideoplayer_domain_model_video.title" />
		</td>
		<td>
			{video.title}
		</td>
	</tr>
</table>