<f:layout name="Default" />
<f:section name="main">
<f:flashMessages />

<![CDATA[
                          <style>
                           /* site specific styling */
                           body {
                              font: 12px "Myriad Pro", "Lucida Grande", "Helvetica Neue", sans-serif;
                              text-align: center;
                              padding-top: 1%;
                              color: #999;
                              background-color: #333333;
                           }

                           /* custom player skin */
                           .flowplayer { width: 500px; height: 360px; background-color: #222; background-size: cover; max-width: 800px; }
                           .flowplayer .fp-controls { background-color: rgba(0, 0, 0, 0.4)}
                           .flowplayer .fp-timeline { background-color: rgba(0, 0, 0, 0.5)}
                           .flowplayer .fp-progress { background-color: rgba(219, 0, 0, 1)}
                           .flowplayer .fp-buffer { background-color: rgba(249, 249, 249, 1)}
                           </style>
]]>

	<div class="flowplayer fixed-controls play-button color-light" style="background-image: url({video.preview.originalResource.publicUrl});" data-ratio="0.416" data-embed="false">
		<f:render partial="Video/VideoContainer" arguments="{video: video}"/>
		<!--f:render partial="Playlist/PlaylistContainer" arguments="{playlist: playlist}"/-->
	</div>
</f:section>
