<f:layout name="Default" />
<f:section name="main">
<f:flashMessages />
<h2>{video.title}</h2>

<![CDATA[
			<style>
                          /* custom player skin */
                           .flowplayer .fp-controls { background-color: rgba(0, 0, 0, 0.4)}
                           .flowplayer .fp-timeline { background-color: rgba(0, 0, 0, 0.5)}
                           .flowplayer .fp-progress { background-color: rgba(219, 0, 0, 1)}
                           .flowplayer .fp-buffer { background-color: rgba(249, 249, 249, 1)}
			   div .flowplayer {margin-bottom: 160px;}
                           </style>
]]>

<div class="loadingBar">
        <img style="display: block; margin-left: auto; margin-right: auto;" src="{f:uri.resource(path: 'Icons/Loading_bar.gif')}">
</div>
<div class="yb_videoplayer" style="visibility: hidden" id="playerWindow">
	<f:render partial="Video/Player" arguments="{video: video, playlists: playlists, flowplayerLicenseKey: flowplayerLicenseKey, resolutionSeperator: resolutionSeperator, showInformation: showInformation}"/>
</div>
</f:section>
