<f:layout name="Default" />
<f:section name="main">
<f:flashMessages />

<h1>{video.title}<h2>
<![CDATA[
                        <style>
                          /* custom player skin 
                           .flowplayer .fp-controls { background-color: rgba(0, 0, 0, 0.4)}
                           .flowplayer .fp-timeline { background-color: rgba(0, 0, 0, 0.5)}*/
                           .flowplayer .fp-progress { background-color: rgba(219, 0, 0, 1)}
                           .flowplayer .fp-buffer { background-color: rgba(249, 249, 249, 1)}
                           div .fp-controls {margin-bottom: 160px;}
                           </style>
]]>
<div style="line-height:0px">
	<f:render partial="Video/Player" arguments="{video: video, playlists: playlists, flowplayerLicenseKey: flowplayerLicenseKey, resolutionSeperator: resolutionSeperator}"/>
	<f:render partial="Video/VideoDetailsContainer" arguments="{video: video}"/>
</div>
</f:section>
